= bootstrap_page_header 'Constraints'
= background_image

= bootstrap_short_row do
  .alert.alert-info
    Ladder8 does some work behind the scenes to process your reported games. As a result you have to obey a few simple
    rules, otherwise game reports will be rejected. These are mainly technical limitations
    and nothing can be done to allow you to report your game if you do not follow the rules.

  .well
    %ol
      %li
        %h4 Play using a registered nick
        %p
          In ladder games you can only use a nick that is registered on the official Wesnoth forums, no extra characters are allowed.
          If you need a second login, use a nickname with different capitalization, since games played using such nicks can be reported as well.
      %li
        %h4 Game replay has to exist in the replay archive
        %p Therefore you will only be able to report games played on the official server with observers allowed.
      %li
        %h4 Play only valid maps
        %p Those are all mainline 1v1 and 2v2 maps plus maps available in the RBY add-on:
        %p= non_breaking @maps
      %li
        %h4 Play only valid eras
        %p= non_breaking Game::VALID_ERAS
      %li
        %h4 Don't use RMP
        %p It's not compatible with Ladder8.